.table-container {
  max-height: 720px;
  overflow-y: auto;
  width: 50%;
}

.table-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.table-row {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.column {
  width: 48%;
}

.id {
  width: 4%;

}